In [30]:
import pandas as pd
import numpy as np
import collections
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from nltk.tokenize import word_tokenize

In [31]:
S1= 'sunshine state enjoy sunshine'
S2 ='brown fox jump high, brown fox run'
S3 ='sunshine state fox run fast'

In [32]:
from sklearn.feature_extraction.text import CountVectorizer     
vectorizer = CountVectorizer()
                                                                # Bag Of Words
Model = vectorizer.fit_transform([S1,S2,S3])
bagofwords = pd.DataFrame(Model.toarray(),columns=vectorizer.get_feature_names_out())
bagofwords

   brown  enjoy  fast  fox  high  jump  run  state  sunshine
0      0      1     0    0     0     0    0      1         2
1      2      0     0    2     1     1    1      0         0
2      0      0     1    1     0     0    1      1         1

In [38]:
dictionary_S1 = bagofwords.iloc[0].to_dict()
bowS1 = S1.split(" ")

dictionary_S2 = bagofwords.iloc[1].to_dict()        
bowS2 = S2.split(" ")

dictionary_S3 = bagofwords.iloc[2].to_dict()
bowS3 = S3.split(" ")

print("S1 =", dictionary_S1 , "\n", bowS1 , "\n")
print("S2 =", dictionary_S2 , "\n", bowS2 , "\n")
print("S3 =", dictionary_S3 , "\n", bowS3 , "\n")

S1 = {'brown': 0, 'enjoy': 1, 'fast': 0, 'fox': 0, 'high': 0, 'jump': 0, 'run': 0, 'state': 1, 'sunshine': 2}
 ['sunshine', 'state', 'enjoy', 'sunshine']

S2 = {'brown': 2, 'enjoy': 0, 'fast': 0, 'fox': 2, 'high': 1, 'jump': 1, 'run': 1, 'state': 0, 'sunshine': 0}
 ['brown', 'fox', 'jump', 'high,', 'brown', 'fox', 'run']

S3 = {'brown': 0, 'enjoy': 0, 'fast': 1, 'fox': 1, 'high': 0, 'jump': 0, 'run': 1, 'state': 1, 'sunshine': 1}
 ['sunshine', 'state', 'fox', 'run', 'fast']

In [7]:
def TF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)      # Tf Func. & Table
    return tfDict

tf_of_S1 = TF(dictionary_S1, bowS1)
tf_of_S2 = TF(dictionary_S2, bowS2)
tf_of_S3 = TF(dictionary_S3, bowS3)

tf=pd.DataFrame.from_dict([tf_of_S1 , tf_of_S2 , tf_of_S3])
tf

,brown,enjoy,fast,fox,high,jump,run,state,sunshine
0,0.000000,0.25,0.0,0.000000,0.000000,0.000000,0.000000,0.25,0.5
1,0.285714,0.00,0.0,0.285714,0.142857,0.142857,0.142857,0.00,0.0
2,0.000000,0.00,0.2,0.200000,0.000000,0.000000,0.200000,0.20,0.2

In [15]:
def IDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)     # Idf 
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict  

idf = IDF([dictionary_S1,dictionary_S2,dictionary_S3])
idf_pd=pd.DataFrame([idf], index=['idf'])
idf_pd

,brown,enjoy,fast,fox,high,jump,run,state,sunshine
idf,0.477121,0.477121,0.477121,0.176091,0.477121,0.477121,0.176091,0.176091,0.176091

In [17]:
def TFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return tfidf                              #Tf_IDF Func. & Table

tfidf_S1 = TFIDF(tf_of_S1, idf)
tfidf_S2 = TFIDF(tf_of_S2, idf)
tfidf_S3 = TFIDF(tf_of_S3, idf)

tfid_pd= pd.DataFrame([tfidf_S1, tfidf_S2,tfidf_S3], index=['S1','S2','S3'])
tfid_pd

,brown,enjoy,fast,fox,high,jump,run,state,sunshine
S1,0.00000,0.11928,0.000000,0.000000,0.00000,0.00000,0.000000,0.044023,0.088046
S2,0.13632,0.00000,0.000000,0.050312,0.06816,0.06816,0.025156,0.000000,0.000000
S3,0.00000,0.00000,0.095424,0.035218,0.00000,0.00000,0.035218,0.035218,0.035218

In [27]:
# Q.2 Cosine Similarity

import numpy as np
from numpy.linalg import norm
 
S1 = np.array([0,	1,	0,	0,	0,	0,	0,	1,	2])                 
S3 = np.array([0,	0,	1,	1,	0,	0,	1,	1,	1])

print("S1:", S1)
print("S3:", S3)
 
cosine = np.dot(S1,S3)/(norm(S1)*norm(S3))
print("\n Cosine Similarity:", cosine)

S1: [0 1 0 0 0 0 0 1 2]
S3: [0 0 1 1 0 0 1 1 1]

 Cosine Similarity: 0.5477225575051661